*{
    margin: 0;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1{
    line-height: 2;
    color:  #66BFBF;
    padding-top: 60px;
    font-size: 5rem;
    font-family: 'Sacramento', cursive;
}

a{
    color: #66BFBF;
}

.first-h2{
    font-size: 1.2rem;
}

h2{
    font-size: 2rem;
}

h2, h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    margin: 0;
    background-color: #E3FDFD;
}

.main-img{
    margin: 6%;
    width: 33.33%;
}

.skills{
    margin: 50px auto 50px auto;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img{
    width: 25%;
    float: left;
    padding-right: 30px;
}

.phy-img{
    width: 25%;
    float: right;
    padding-left: 30px;
}

.profile{
    width: 40%;
    margin: 50px auto 50px auto;
}

.profile-img{
    width: 45%;
    padding-bottom: 30px;
}

.profile-description{
    line-height: 2;
    padding-top: 20px;
    color: #40514E;
}

.contact-me{
    margin: 50px auto 100px auto;
    width: 50%;
}

.contact-me>p{
    padding: 30px;
    line-height: 2;
}

.contact-me>h3{
    padding: 30px;
}

.bottom-container{
    background-color: #66BFBF;
    height: 100px;
    padding-top: 30px;
}

.bottom-container>a{
    text-decoration: none;
    color: #11999E;
    padding: 30px;
}

.bottom-container>a:hover{
    text-decoration: underline;
    color: #EAF6F6;
}

.bottom-container>p{
    color: #11999E;
    padding: 30px;
    font-size: 0.8rem;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1rempx;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  hr {
    border-style: dotted none none none;
    border-width: 5px;
    width: 5%;
    border-color: gray;
    margin: 0 auto 0 auto;
}